# URL dell'API di backend per la registrazione alla waitlist e l'invio dei punteggi SITG
VITE_API_URL=https://api.bab-sports.com/v1

# ID di tracciamento per analisi e marketing (Pixel Meta e Google Analytics)
VITE_META_PIXEL_ID=YOUR_META_PIXEL_ID_HERE
VITE_GA_MEASUREMENT_ID=YOUR_GA_MEASUREMENT_ID_HERE
